<!-- @for (course of courses(); track $index) {

<div class="course">
  <h2>{{ course.title }}</h2>
  <p>{{ course.longDescription }}</p>
</div>

} -->

@for(course of courses(); track course.id) {
<div class="course-card">
  <div class="course-header">
    <span class="course-title">{{ course.title }}</span>
  </div>
  <img class="course-image" [src]="course.iconUrl" />
  <div class="course-description">
    <p>{{ course.longDescription }}</p>
  </div>
  <div class="course-actions">
    <button class="btn">VIEW COURSE</button>
    <button class="btn" (click)="onEditCourse(course)">EDIT</button>
    <img
      class="delete-icon"
      src="assets/delete.svg"
      (click)="onDeleteCourse(course)"
    />
  </div>
</div>
}
